header {
	background-color: white;
	background-image: url("../images/icon.png");
	background-repeat: no-repeat;
	background-position: 20px center;
	height: 70px;
	width: 100%;
	bottom-border: 1px solid #CCCCCC;
}
